extends base

block append head
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.5/axios.min.js')
    //- script(src='/js/login.js', defer)

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Create an account
      form.form.form--signup
        .form__group
          label.form__label(for='name') Full Name
          input#name.form__input(type='text', placeholder='Your Full name', required, autocomplete="name")
        .form__group.ma-bt-md
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required, autocomplete="username")
        .form__group.ma-bt-md
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="current-password")
        .form__group.ma-bt-md
        .form__group
          label.form__label(for='confirmPassword') Confirm Password
          input#confirmPassword.form__input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="new-password")
        .form__group.ma-bt-md
        .form__group
          button.btn.btn--green Signup